.Container-Panel {
  width: 100%;
  min-height: 900px;
  background-color: rgba(255, 167, 129, 1);
  padding-top: 50px;
}

.Data-Container {
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(91, 14, 45, 0.6);
}
.Data-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  border-bottom: 2px solid rgba(91, 14, 45, 0.6);
  margin: 5px 0;
  padding: 5px 0;
}
.Data-header {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  background-color: rgba(91, 14, 45, 1);
  color: white;
}
.Data-header .Data-column {
  font-weight: 700;
  font-size: 20px;
}

.Data-column {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  outline: none;
  text-decoration: none;
}
.Data-column .Edit-icon {
  cursor: pointer;
  font-size: 25px;
}
